.media-img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 10px;
    margin-bottom: 5px;
    transition: transform .2s;
}
.media-img:hover{
    transform: scale(1.2,1.2);
}
.media {
    display: flex;
    align-items: flex-start;
}

.media-body {
    flex: 1;
    padding: 15px;
}


.media-img {
    width: 200px;
    text-align: center;
    
}
.price{
    color: darkgreen;
}

@media(media-width: 1023.98px){
    .media {
        flex-direction: row;
    }
    .media-img{
        width:100%;
        height: auto;
    }
}